.navbar {
  margin-bottom: 50px;
}
.content {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #f0324e 50%,
    #e72c77 75%,
    #73eff8 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #f0324e 50%,
    #e72c77 75%,
    #73eff8 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #f0324e 50%,
    #e72c77 75%,
    #73eff8 100%
  );
}
.content h4 {
  margin-top: 80px;
  padding: 25px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
.content .card {
  margin: 7px;
  transition: all 0.5s ease-in-out;
}

.content .card:hover {
  transform: scale(1.03);
}
.content .card-img-top {
  height: 250px;
}
.content .card-title {
  color: #007bffde;
}
.content .card .btn {
  background-color: #e72c77;
  color: white;
  font-size: 20px;
  display: block;
  margin: 4px;
}
.content .card .btn:hover {
  color: white;
}
.footer {
  height: 90px;
}
.footer ul li {
  display: inline-block;
  margin-top: 35px;
  margin-right: 10px;
  padding: 2px;
}
.footer ul li a {
  font-size: 18;
  margin: 10px;
}
@media (max-width: 680px) {
  .logo {
    margin-right: 30px;
  }
}
